@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.home {
    &__subheading {
        text-align: center;
    }

    /* --- discover oshawa section --- */
    &__discover {
        @include flexbox(column, wrap);
        gap: 1rem;
        padding: 1rem;

        @include tablet {
            padding: 2.5rem;
        }
    }

    /* --- learn more section --- */
    &__learn-more {
        background-color: $charcoal-blue;
        color: $white;
        font-size: 20px;
        padding: 2rem;

        @include tablet {
            padding-block: 5rem;
            padding-inline: 12rem;
        }
    }

    /* --- community spotlight section --- */
    &__community-spotlight {
        @include flexbox(column, wrap);
        gap: 1rem;
        padding: 1rem;
    }

    /* --- upcoming events section --- */
    &__upcoming-events {
        @include flexbox(column, wrap);
        gap: 1rem;
        padding: 1rem;
    }
}

/* --- discover oshawa card --- */
.discover {
    &__list {
        @include flexbox(column, wrap);
        gap: 1rem;

        @include tablet {
            @include flexbox(row, wrap);
        }
    }

    &__card {
        @include flexbox(column, wrap);
        align-items: center;
        gap: 1rem;

        @include tablet {
            gap: 1rem;
        }
    }

    &__title {
        font-size: 1.125rem;
        color: $charcoal-blue;
        font-weight: 600;
        text-align: center;
    }

    &__description {
        text-align: center;
    }
}

/* --- learn more content --- */
.learn-more {
    &__wrapper {
        @include flexbox(column, wrap);
        gap: 1rem;
    }

    &__description {
        &--gold {
            color: $champagne-gold;
        }
    }
}

/* --- community spotlight card --- */
.community-spotlight {
    &__card {
        background-image: url("../../../assets/images/community-spotlight-image.jpeg");
        background-size: cover;
        height: 317px;
        @include flexbox(column, wrap);
        justify-content: flex-end;
    }

    &__details {
        background: white;
        @include flexbox(column, wrap);
        gap: 0.5rem;
        border-radius: 0.5rem;
        padding: 1rem;
    }

    &__name {
        font-weight: 600;
    }

    &__meta {
        @include flexbox(row, wrap);
        justify-content: space-between;

        &-list {
            width: 70%;
            @include flexbox(row, wrap);
            justify-content: space-between;
            align-items: center;
        }
    }

    &__distance {
        &-wrapper {
            @include flexbox(row, wrap);
            align-items: center;
            gap: 0.25rem;
        }

        &-icon {
            width: 1.1875rem;
        }
    }
}

/* --- upcoming events card --- */
.upcoming-events {
    &__card {
        width: 11.375rem;
        height: 19.9375rem;
        @include flexbox(column, wrap);
        justify-content: flex-end;
        position: relative;
        padding: 0 !important;
    }

    &__overlay {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
        border-radius: 1.25rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    &__details {
        color: $off-white;
        @include flexbox(column, wrap);
        gap: 0.5rem;
        padding: 1rem;
        position: relative;
        z-index: 2;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.5);
            border-radius: 1.25rem;
            z-index: -1;
        }
    }

    &__date {
        font-size: .875rem;
    }

    &__date,
    &__name {
        font-weight: 600;
    }
}