@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.home {
    &__subheading {
        text-align: center;
    }

    /* --- discover oshawa cards --- */
    &__discover {
        @include flexbox(column, wrap);
        gap: 1rem;
        padding: 1rem;

        &-list {
            @include flexbox(column, wrap);
            gap: 1rem;

            &-item {
                @include flexbox(column, wrap);
                align-items: center;
                gap: 0.5rem;
            }
        }

        &-label {
            font-weight: 600;
        }

        &-text {
            text-align: center;
        }
    }

    /* -- learn more -- */
    &__learn-more {
        background-color: $charcoal-blue;
        color: white;
        font-family: "Playfair Display", sans-serif;
        font-size: 20px;
        padding: 2rem;

        &-text {
            &--gold {
                color: $champagne-gold;
            }
        }
    }
}

.card {
    border: .0625rem solid #F0F0F0;
    border-radius: 1.25rem;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
}