@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.home {
    &__subheading {
        text-align: center;
    }

    /* --- discover oshawa cards --- */
    &__discover {
        @include flexbox(column, wrap);
        gap: 1rem;
        padding: 1rem;

        &-list {
            @include flexbox(column, wrap);
            gap: 1rem;

            &-item {
                @include flexbox(column, wrap);
                align-items: center;
                gap: 0.5rem;
            }
        }

        &-label {
            font-weight: 600;
        }

        &-text {
            text-align: center;
        }
    }

    /* --- learn more section --- */
    &__learn-more {
        background-color: $charcoal-blue;
        color: $white;
        font-family: $primary-font;
        font-size: 20px;
        padding: 2rem;

        &-wrapper {
            @include flexbox(column, wrap);
            gap: 1rem;
        }

        &-text {
            &--gold {
                color: $champagne-gold;
            }
        }
    }

    /* --- community spotlight section --- */
    &__community-spotlight {
        @include flexbox(column, wrap);
        gap: 1rem;
        padding: 1rem;
    }

    /* --- upcoming events section --- */
    &__upcoming-events {
        @include flexbox(column, wrap);
        gap: 1rem;
        padding: 1rem;
    }
}

/* --- community spotlight card --- */
.community-spotlight {
    &__card {
        background-image: url("../../../assets/images/community-spotlight-image.jpeg");
        background-size: cover;
        height: 317px;
        @include flexbox(column, wrap);
        justify-content: flex-end;
    }

    &__details {
        background: white;
        @include flexbox(column, wrap);
        gap: 0.5rem;
        border-radius: 0.5rem;
        padding: 1rem;
    }

    &__name {
        font-weight: 600;
    }

    &__meta {
        @include flexbox(row, wrap);
        justify-content: space-between;

        &-list {
            width: 70%;
            @include flexbox(row, wrap);
            justify-content: space-between;
            align-items: center;
        }
    }
    
    &__distance {
        &-wrapper {
            @include flexbox(row, wrap);
            align-items: center;
            gap: 0.25rem;
        }

        &-icon {
            width: 1.1875rem;
        }
    }
}

/* --- upcoming events card --- */
.upcoming-events {
    &__card {
        width: 11.375rem;
        height: 19.9375rem;
        position: relative;
    }

    &__overlay {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3); 
        border-radius: 1.25rem;
        position: absolute;
        top: 0;
        left: 0;
    }
}