@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.business-details {
    padding: 1rem;

    &__image {
        width: 100%;
        height: 319px;
        object-fit: cover;
        border-radius: 8px;
    }
}