@use "./fonts.scss" as *;

/*--- color variables --- */
$dark-blue: #27548A;
$charcoal-blue: #183B4E;
$champagne-gold: #E8C65B;
$marigold: #DDA853;
$white: #FFFFFF;
$ghost-white: #F8FAFC;
$off-white: #F5F5F5;
$onyx: #1A1A1A;
$dark-grey: #2C2C2C;
$medium-grey: #404040;
$light-grey: #CCCCCC;

/* --- descriptive variables --*/

/* typography */
$primary-font: "Playfair Display", sans-serif;
$secondary-font: "Raleway", sans-serif;
$heading-colors: (
    h2: $charcoal-blue
);

/* button */
$buttons: (
    primary: (
        bg: $charcoal-blue, 
        border: $charcoal-blue, 
        label: $off-white, 
        hover-bg: $dark-blue,
        hover-border: $dark-blue,
        hover-label: $off-white
    ),
    secondary: (
        bg: $dark-grey, 
        border: $dark-grey, 
        label: $off-white, 
        hover-bg: $medium-grey,
        hover-border: $medium-grey,
        hover-label: $off-white
    ),
    tertiary: (
        bg: $off-white, 
        border: $off-white,
        label: $dark-grey, 
        hover-bg: $champagne-gold,
        hover-border: $champagne-gold,
        hover-label: $dark-grey
    )
);

/* carousel controls */
$dot: (
    bg: $medium-grey,
    active-bg: $champagne-gold,
);
$arrow-btn-hover: $light-grey;

/* footer */
$footer: (
    bg: $charcoal-blue,
    label-font: $primary-font,
    label-color: $champagne-gold,
    link-font: $secondary-font,
    link-color: $off-white
)