@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/variables.scss" as *;

.category {
    @include flexbox(column);
    gap: 1rem;

    &__wrapper {
        &--row {
            @include flexbox(row);
            justify-content: space-between;
            align-items: center;
        }

        &--column {
            @include flexbox(column);
            gap: 1rem;
        }
    }

    &__list {
        @include flexbox(row);
        gap: 1rem;
        overflow-x: auto;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
        
        &::after {
            content: "";
            pointer-events: none;
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 40%;
            background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.5));
        }

        &-item {
            flex: 0 0 auto;
        }

        &-wrapper {
            position: relative;
        }
    }

    &__sorting {
        @include flexbox(row);
        align-items: center;
        gap: 1rem;

        &-wrapper {
            display: inline-block;
            position: relative;

            &::after {
                content: url("/assets/icons/arrow-dropdown.svg");
                position: absolute;
                top: 15%;
                right: 0.5rem;
                pointer-events: none;
            }
        }

        &-menu {
            flex-grow: 1;
            font-family: $secondary-font;
            font-size: 1rem;
            padding: 0.5rem 1rem;
            appearance: none;
            border-radius: 20px;
        }
    }
}