@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.about {
    &__wrapper, &__how-it-works, &__whats-next, &__behind-the-screen {
        padding: 1rem;
    }

    &__wrapper {
        background-color: $charcoal-blue;
        @include flexbox(column, wrap);
        gap: 1rem;
    }

    &__whats-next {
        background-color: #B58900;
        @include flexbox(column, wrap);
        gap: 1rem;
    }

    .whats-next {
        &__feedback {
            height: 244px;
            background-color: $off-white;
            @include flexbox(column, wrap);
            justify-content: space-between;
            border-radius: 1.25rem;
            padding: 1rem;
        }
    }

    &__behind-the-screen {
        @include flexbox(column, wrap);
        gap: 1rem;

        &__image {
            width: 100%;
            height: auto;
        }
    }
}