@use "../../styles/partials/fonts.scss" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.footer {
    background-color: map-get($footer, bg);
    height: 100%;
    padding: 1rem;

    &__nav {
        width: 100%;
        @include flexbox(column, wrap);
        align-items: center;
        gap: 2rem;
    }

    &__wrapper {
    width: 100%;
    @include flexbox(column, wrap);
    align-items: center;
    gap: 1rem;
    }

    &__label {
        font-family: map-get($footer, label-font);
        font-size: 1rem;
        color: map-get($footer, label-color);
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.25rem;
    }

    &__list {
        @include flexbox(column, wrap);
        align-items: center;
        gap: 0.5rem;

        &-item {
            font-family: map-get($footer, link-font);
            color: map-get($footer, link-color);
        }
    }

    &__link {
        color: white;

        &:hover {
            color: $champagne-gold;
            transition: 0.5s ease-in-out;
        }
    }
}