@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.carousel {
  position: relative;
  width: 100%;
  @include flexbox(column, wrap);
  gap: 1rem;
  overflow: hidden;

  &__track {
    @include flexbox(row, nowrap);
    transition: transform 0.5s ease-in-out;
    // padding: 0;

    &-wrapper {
      overflow: hidden;
      width: 100%;
      position: relative;
    }
  }

  &__card {
    width: 11.375rem;
    // flex: 0 0 auto;
    margin: 0 .5rem;
  }

  &__controls {
    width: 100%;
    @include flexbox(row, wrap);
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }  

    &__buttons {
    @include flexbox(row, wrap);
    justify-content: center;
    gap: 1rem;
    margin-top: 0.5rem;
  }

  &__arrow {
    width: 1.875rem;
    height: 1.875rem;
    @include flexbox(row, wrap);
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    padding: 0;

    &:hover {
      background-color: $arrow-btn-hover;
      transition: 0.3s ease-in-out;
    }

    &-icon {
      width: 60%;
      height: 60%;
    }
  }

  &__dots {
    @include flexbox(row, wrap);
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
  }

  &__dot {
    width: .75rem;
    height: .75rem;
    border-radius: 50%;
    border: none;
    background-color: map-get($dot, bg);
    cursor: pointer;
    box-sizing: border-box;
    padding: 0;


    &.active {
      background-color: map-get($dot, active-bg);
    }
  }
}