@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/variables.scss" as *;

.pill {
    @include flexbox(row);
    align-items: center;
    gap: 1rem;
    flex: 0 0 auto;
    border: 2px solid transparent;
    border-radius: 20px;
    padding-block: 0.5rem;
    padding-inline: 1rem;    

    &__circle {
        background-color: #EEEEEE;
        width: 24px;
        height: 24px;
        @include flexbox(row);
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }

    &__emoji {
        font-size: 0.65rem;
    }

    &--selected {
        background-color: white !important;
        border: 2px solid;
        transition: 0.3s ease-in-out;
    }
}