@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.pagination {
    @include flexbox(row);
    justify-content: space-between;
    align-items: center;

    &__wrapper {
        @include flexbox(row);
    }

    &__pages {
        @include flexbox(row);
            align-items: center;

        gap: 1rem;
    }
}

.disabled {
    color: #666;
}

.active {
    background-color: $champagne-gold;
    width: 30px;
    height: 30px;
    @include flexbox(row);
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}