@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.header {
    width: 100%;
    @include flexbox(row, nowrap);
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: relative;

    &__mobile-nav {
        width: 100%;
        height: auto;
        background-color: $marigold;
        color: white;
        padding: 1rem;
        position: absolute;
        top: 0;
        left: 0;
        animation: slideDown 0.5s ease-in-out;

        &-list {
            @include flexbox(column, wrap);
            align-items: center;
            gap: 1rem;
        }
    }
}

.logo {
    width: auto;
    height: 1.5625rem;
}