@use "./partials/fonts.scss" as *;
@use "./partials/variables.scss" as *;
@use "./partials/mixins.scss" as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #F8FAFC;
    font-family: "Raleway", sans-serif;
}

li {
    list-style-type: none;
}

h1 {
    font-family: "Playfair Display", sans-serif;
    font-size: 34px;
    letter-spacing: 0.1rem;
}

h2 {
    font-family: "Playfair Display", sans-serif;
    font-size: 24px;
    color: $charcoal-blue;
    letter-spacing: 0.1rem;
}

p {
    font-size: 1rem;
}

a {
    text-decoration: none;
}