@use "./partials/fonts.scss" as *;
@use "./partials/variables.scss" as *;
@use "./partials/mixins.scss" as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $ghost-white;
    font-family: $secondary-font;
}

li {
    list-style-type: none;
}

h1 {
    font-family: $primary-font;
    font-size: 34px;
    letter-spacing: 0.1rem;
}

h2 {
    font-family: $primary-font;
    font-size: 24px;
    color: map-get($heading-colors, h2);
    letter-spacing: 0.1rem;
}

p {
    font-size: 1rem;
}

a {
    text-decoration: none;
}