@use "./partials/fonts.scss" as *;
@use "./partials/variables.scss" as *;
@use "./partials/mixins.scss" as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $ghost-white;
    font-family: $secondary-font;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* h1 */
.page-heading {
    font-family: $primary-font;
    font-size: 34px;
    letter-spacing: 0.1rem;

    @include tablet {
        font-size: 40px;
    }
}

/* h2 */
.section-heading {
    font-family: $primary-font;
    font-size: 24px;
    color: map-get($heading-colors, h2);
    letter-spacing: 0.1rem;
    text-align: center;

    &--white {
        color: $off-white;
    }

    &--gold {
        color: $champagne-gold;
    }
}

/* h3 */
.content-heading {
    font-family: $primary-font;
    font-size: 20px;
    color: map-get($heading-colors, h3);

    &--onyx {
        color: $onyx;
    }
}

.text {
    font-size: 1rem;

    &--white {
        color: $off-white;
    }
}